footer.footer
	.section_in
		.contact-form 
			.contact-form__row 
				.contact-form__col-left 
					.contact-form__img 
						img(src="i/table-form.png", alt="" width="100%")
				.contact-form__col-right 
					.contact-form__title.titleBlock Форма <span> заявки </span>
						.contact-form__text Оставьте заявку, и мы вам перезвоним!

					.contact-form__form 
						input.contact-form__input(type="text" placeholder="Ваше имя")
						input.contact-form__input(type="text" placeholder="Ваш телефон")
						.contact-form__btn Оставить заявку
							.contact-form__btn-img 
								img(src="i/list4.png", alt="")
	.section_in
		.footer__row 
			.footer__col 
				.footer__col-left.left-col 
					.left-col__box-logo
						.left-col__logo 
							img(src="i/icons/logo.svg", alt="")
					.left-col__box-contact
						.left-col__title.titleBlock Наши <span>контакты</span>
						.left-col__contact-list
							.left-col__item
								img(src="/i/icons/footer-icon-phone.svg", alt="")
								.left-col__phone 
									a(href="tel:+70000000000") +7 000 000 00 00
							.left-col__item
								img(src="/i/icons/footer-icon-mail.svg", alt="")
								.left-col__phone 
									a(href="mailto:mail@mail.ru") mail@mail.ru
							.left-col__item
								img(src="/i/icons/footer-icon-map.svg", alt="")
								.left-col__phone 
									a(href="mailto:mail@mail.ru") Московский, Радужная ул, д. 1, этаж 1
							
							.left-col__social 
								.left-col__social-item 
									.left-col__social-img 
										a(href="#")
											img(src="i/icons/icon-whats.svg", alt="") 
								.left-col__social-item 
									.left-col__social-img 
										a(href="#")
											img(src="i/icons/icon-tg.svg", alt="") 
									
							.left-col__arkada.arkada-block 
								.arkada-block__text © Все права защищены, 2022
								.arkada-block__logo 
									.arkada-block__link Разработано 
										a(href="https://arkada-web.ru/") arkada-web.ru
									.arkada-block__img 
										img(src="/i/icons/logo-arkada.svg", alt="")
				
				.footer__col-left.right-col 
					.right-col__map 
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53ac4ee0a3ed73e5db9457b14ff52ff1c2f7b651fc6aad6cc5a4148578bbd5aa&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>


								
							



						


