nav.navigation
	.section_in
		.navigation__desk
			ul.navigation__list 
				li.navigation__item 
					a(href="about_us") О нас
				li.navigation__item 
					a(href="services") Услуги
				li.navigation__item 
					a(href="studio") Студия
				li.navigation__item 
					a(href="sign-up") Как записаться
				li.navigation__item 
					a(href="specialists") Cпециалисты
			.navigation__logo 
				img(src="i/icons/logo.svg", alt="")
			.contact-header 
				.contact-header__list 
					.contact-header
						.contact-header__item  
							.contact-header__icon 
									img(src="i/icons/map.svg", alt="")
							.contact-header__text Московский, Радужная ул, д. 1, этаж 1
					.contact-header__item 
						.contact-header__icon
							img(src="i/icons/icon-phone.svg", alt="")
						.contact-header__text
							a.contact-header__tel(href="#") +7 000 000 00 00  
	
	//- .container
	//- 	input#toggle(type="checkbox")
	//- 	label.toggle-container(for="toggle")
	//- 		span.button.button-toggle

	//- 	nav.nav
	//- 		a.nav-item(href="#") Dashboard
	//- 		a.nav-item(href="#") Dashboard
	//- 		a.nav-item(href="#") Dashboard
	//- 		a.nav-item(href="#") Dashboard


		//- section.dummy-content
		//- 	.circle
		//- 	.text
		//- 		span
		//- 		span
		//- 	.square-top
		//- 	.square-behind


	