.modal#modal-1 
	.modal__dialog 
		.close(data-close="modal") 
		.modal__content 
			h3.modal__title Массаж для красоты тела
			.modal__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.modal__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

			ul.modal__list.list-price
				li.list-price__item 
					.list-price__text Антицеллюлитный массаж
					.list-price__item-box
						.list-price__time 40 мин
						.list-price__price 3000₽

				li.list-price__item 
					.list-price__text Плоский животик
					.list-price__item-box
						.list-price__time 20 мин
						.list-price__price 1200₽

				li.list-price__item 
					.list-price__text Медовый массаж
					.list-price__item-box
						.list-price__time 30 мин
						.list-price__price 1800₽
				
				li.list-price__item 
					.list-price__text Медовый массаж
					.list-price__item-box
						.list-price__time 50 мин
						.list-price__price 2800₽
		

			.modal-form 
				.modal-form__block 
					input(type="text" placeholder="Ваше имя").modal-form__input
					input(type="text" placeholder="Ваш телефон").modal-form__input
					.modal-form__button.button 
						.button__link Оставить заявку


.modal#modal-2
	.modal__dialog 
		.close(data-close="modal") 
		.modal__content 
			h3.modal__title 1233Массаж для красоты тела
			.modal__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.modal__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

			ul.modal__list.list-price
				li.list-price__item 
					.list-price__text Антицеллюлитный массаж
					.list-price__item-box
						.list-price__time 40 мин
						.list-price__price 3000₽

				li.list-price__item 
					.list-price__text Плоский животик
					.list-price__item-box
						.list-price__time 20 мин
						.list-price__price 1200₽

				li.list-price__item 
					.list-price__text Медовый массаж
					.list-price__item-box
						.list-price__time 30 мин
						.list-price__price 1800₽
				
				li.list-price__item 
					.list-price__text Медовый массаж
					.list-price__item-box
						.list-price__time 50 мин
						.list-price__price 2800₽
		

			.modal-form 
				.modal-form__block 
					input(type="text" placeholder="Ваше имя").modal-form__input
					input(type="text" placeholder="Ваш телефон").modal-form__input
					.modal-form__button.button 
						.button__link Оставить заявку

