$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

/* Basic Styles */

* {
  box-sizing: border-box;
}

.navigation{
	height: $header;
	@include bp($point_2){
		padding-top: 0rem;
	}
	&__desk{
		height: $header;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__list{
		display: flex;
		margin-right: 2rem;
	}
	&__item a{
		padding-left: 4rem;
		font-size: 2rem;
		font-family: $font_3;
		color:$black;
		@include bp($point_0){
			padding-left: 2rem;
		}
	}
	}
	.navigation a{
		transition: color 0.3s ease-in-out;
	}
	.navigation a:hover{
		color: #8546D7;
	
	}
	.navigation-info-mobile {
		&__logo{
			position: absolute;
			top: 8px;
			right: 0;
			z-index: -1;
		}
	}
	.navigation__logo{
		@include bp($point_2){
			display: none;
		}
	}
	
.navigation__logo img{
	@include bp($point_3){
		width: 80%;
	}
}
.contact-header{
	@include bp($point_2){
		display: none;
	}
	&__list{
		display: flex;
	}
	&__text{
		padding-left: 1.5rem;
		font-family: $font_3;
		font-size: 1.8rem;
		background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}
	&__tel{
		font-family: $font_3;
		font-size: 1.8rem;
		background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}
	&__item{
		padding-left: 4rem;
		display: flex;
		align-items: center;
	}
	
}
a {
  text-decoration: none;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
display: none;
}
.navigation-info-mobile{
	display: none;
}
.navigation-info-mobile__tel{
	display: none;
}
@media (max-width: 1020px) {
	.navigation-info-mobile{
		display: block;
		// position: relative;
	}
	.navigation-info-mobile__tel{
		display: block;
		position: absolute;
		top: 37%;
		right: 25%;

	}
	
	.navbar {
	  opacity: 1;
	}
  .contact-header__mobile-address{
		margin-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navbar-container input[type="checkbox"],
	.navbar-container .hamburger-lines {
	  display: block;
	}
  
	.navbar-container {
		z-index: 9999;
	  display: block;
	  position: relative;
	  height: 6.4rem;
	}
  
	.navbar-container input[type="checkbox"] {
	  position: absolute;
	  display: block;
	  height: 32px;
	  width: 30px;
	  top: 2rem;
	  left: 2rem;
	  z-index: 5;
	  opacity: 0;
	}
  
	.navbar-container .hamburger-lines {
	  display: block;
	  height: 23px;
	  width: 35px;
	  position: absolute;
	  top: 17px;
	  left: 5px;
	  z-index: 2;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  
	}
  
	.navbar-container .hamburger-lines .line {
	  display: block;
	  height: 4px;
	  width: 100%;
	  border-radius: 10px;
	  background: $gradient;
	}
  
	.navbar-container .hamburger-lines .line1 {
	  transform-origin: 0% 0%;
	  transition: transform 0.4s ease-in-out;
	}
  
	.navbar-container .hamburger-lines .line2 {
	  transition: transform 0.2s ease-in-out;
	}
  
	.navbar-container .hamburger-lines .line3 {
	  transform-origin: 0% 100%;
	  transition: transform 0.4s ease-in-out;
	}
  
	.navbar .menu-items {
		// position: relative;
	  padding-top: 100px;
	  background: #fff;
	  color:#000;
	  height: 100vh;
	  max-width: 420px;
	  transform: translate(-150%);
	  display: flex;
	  flex-direction: column;
	  margin-left: -40px;
	  padding-left: 25px;
	  transition: transform 0.5s ease-in-out;
	  box-shadow: 5px 0px 10px 0px #aaa;
		z-index: 999999;
	}
	.menu-toggle-open{
		margin-left: -300px;
	}
  
	.navbar .menu-items li {
	  margin-bottom: 1.5rem;
	  font-size: 1.3rem;
	  font-weight: 500;
	  color:#000;
	}
	.menu-items a {
		color:#000;
		margin-left: 0rem;
	}
  .menu-items li{
	margin-left: 0rem;
  }

	.navbar-container input[type="checkbox"]:checked ~ .menu-items {
	  transform: translateX(0);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	  transform: rotate(35deg);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	  transform: scaleY(0);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	  transform: rotate(-35deg);
	}
  }  
