.main-banner{
	position: relative;
	&__img{
		height: 71.2rem;
		background-image: url(../i/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		@include bp($point_3){
			background-position: center;
		}
		
	}

	&__textBlock{
		position: absolute;
		top: 25%;
	
	}
	&__title{
		font-size: 5rem !important;
		padding-bottom: 1.5rem;
	}
	&__text{
		padding-bottom: 6rem;
		font-size: 2rem;
	}
	&__button{
		width: 26.9rem;
		height: 7.2rem;
		border-radius: 5rem;
		background: linear-gradient(91.32deg, #8546D7 0.59%, #B28EE1 101.83%);
		box-shadow: 5px 8px 13px rgba(173, 134, 224, 0.45), inset 1px -1px 10px rgba(52, 0, 118, 0.24);
		color: #fff;
	}
}
.button-text{
	font-size: 2rem;
	font-family: $font_3;
}
.signUp-massage{
	padding-top: 10rem;
	&__row{
		display: flex;
		justify-content: space-between;
		@include bp($point_3){
			flex-direction: column;
		}
	}
	&__img{
		position: relative;
	}
	&__title{
		width: 80%;
		@include bp($point_3){
			width: 100%;
		}
	}
	&__text{
		font-size: 2rem;
		font-family: $font_3;
	}
	&__text p{
		padding-bottom: 2rem;
	}
	&__text-block{
		width: 65%;
		@include bp($point_3){
			width: 100%;
		}
	}
	&__col{
		width: 60%;
		@include bp($point_3){
			width: 100%;
		}
	}
	&__col:nth-child(2){
		padding-top: 4.5rem;
		padding-left: 10rem;
	}
	&-list{
		position: relative;
		width: 100%;
	}
	&-list::after{
		content: url(../i/list.png);
		position: absolute;
		right: 23%;
	}
}
.signUp-massage__img img{
	width: 100%;
}
.services{
	position: relative;
	text-align: center;
	margin-bottom: 10rem;

	&__list{
		position: relative;
		margin-bottom: 8rem;
		margin-top: 9rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@include bp($point_3){
			flex-wrap: wrap;
		}
		
	}

	&__item{
		margin-right: 2rem;
		width: 36.5rem;
		// height: 43.5rem;
		background: #FFFFFF;
		box-shadow: 0px 27px 64px rgba(39, 0, 91, 0.07);
		border-radius: 20px;

	}
}
.services-card{
	&__img{
		// width: 36.5rem;
		// width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__img img{
		width: 100%;
	}

	&__item-box{
		padding-top: 1.5rem;
		padding-left: 2rem;
		padding-bottom: 2rem;
		padding-right: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 21.4rem;
	}
	&__title{
		font-size: 2.2rem;
		font-family: $font_2;
		text-align: left;
		
	}
	&__text{
		font-size: 1.8rem;
		font-family: $font_3;
		color:#8A8A8A;
		text-align: left;

	}
	&__price{
		background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__button{
		width: 16.5rem;
		height: 5.9rem;
		background: $gradient;
		border-radius: 5rem;
	
	}
	&__footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
}
.services::after{
	position: absolute;
	top: -14%;
	right: -10%;
	content: url(../i/bg-el.png);
	z-index: -1;
}
.button{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&__link{
		color: #fff;
		font-size: 1.8rem;
		font-family: $font_3;
	}
}
.button-collaps {
	margin: auto;
	width: 29.4rem;
	height: 7.2rem;
	border-radius: 5rem;
	border: 1px solid #8546D7;
	&__text{
		background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: $font_3;
	}
	&__text::after{
		padding-left: 2rem;
		content: url(../i/icons/arrow-down.svg);

	}


}
.advantages{
	margin-bottom: 20rem;
	position: relative;
	width: 100%;
	&__block:nth-child(2){
		margin-top: -5rem;
		@include bp($point_3){
			margin-top: 0rem;
		}
	}
	&__title{
		padding-bottom: 11.5rem;
		text-align: center;
	}

	&__img{
		position: absolute;
		left: 0;
		right: 0;
		top: 13.7rem;
		bottom: 0;
		text-align: center;
		@include bp($point_3){
			display: none;
		}
	}
	&__img img{
		width: 100%;
	}

	&__item{
		margin-bottom: 13rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33.5rem;
		height: 13.9rem;
		background: #FFFFFF;
		box-shadow: 0px 6px 19px rgba(39, 0, 91, 0.11);
		border-radius: 50px;
		opacity: 0;
		transition: all 0.2s;
		@include bp($point_3){
			margin-bottom:20rem;
			flex-direction: column;
		}
	}
	&__wrapp{
		position: relative;
		width: 33.5rem;
		@include bp($point_3){
			margin-top: -10rem;
			z-index: 999;
		}
	}
	&__wrapp-el-1{
		margin-left: 18rem;
		@include bp($point_3){
			margin-left: 0rem;
		}
	}
	&__wrapp-el-2{
		margin-top: -5rem;
		@include bp($point_3){
			margin-top: 0rem;
		}
	}
	&__wrapp-el-3{
		margin-left: -20rem;
		@include bp($point_3){
			margin-left: 0rem;
		}
	}
	&__wrapp-el-4{
		margin-top: -10rem;
		@include bp($point_3){
			margin-top: 0rem;
		}
	}


	&__text {
		font-size: 2rem;
		color:$black;
		font-family: $font_3;
		line-height: 24px;
	}
	&__container{
		display: flex;
		justify-content: space-between;
		@include bp($point_3){
			flex-direction: column;
		}
	}

}

.active{
	opacity: 1;
}

.advantages__button{
	position: absolute;
	left:100%;
	top: 50%;
  width: 75px;
  height: 75px;
  background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
  transform: translate(-50%, -50%) rotate(0deg);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
	@include bp($point_3){
		left: 50%;
	}
}
.advantages__button-right{
	left: 0%;
	right: 100%;
	@include bp($point_3){
		left: 50%;
	}
}

.advantages__button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: white;
}

.advantages__button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 2px;
  background: white;
}

.advantages__button.clicked {
  transform: translate(-50%, -50%) rotate(360deg);
	background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
}

.advantages__button.clicked:before {
  width: 0;
}
.video{
	width: 66rem;
	border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.gallery-list__item img{
	max-width: 66rem;
}

.gallery-video {
	padding-bottom: 10rem;
	&__title{
		text-align: center;
		padding-bottom: 9rem;
	}
}
.slick-slider>.slick-list{
	padding:0 20% 0% 30% !important;
	@include bp($point_3){
		padding: 0% !important;
	}
}

.slider-gallery{
	&__item{
		display: flex !important;
		flex-direction: column;
		align-items: center;
	}

	&__name{
		font-size: 2.2rem;
		font-family: $font_1;
	}
	&__description{
		margin-bottom: 1rem;
		text-align: center;
		font-size: 1.8rem;
		color: #8A8A8A;
		font-family: $font_3;
	}
	&__arrow{
		position: absolute;
		top: 25%;
		display: flex;
		width: 100%;
		justify-content: space-between;
		cursor: pointer;
	}
	&__img{
		margin-bottom: 3.1rem;
		position: relative;
	}
	// &__img:hover{
	// 	// content: '';
	// 	top:0;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: linear-gradient(0deg, rgba(132, 71, 213, 0.3), rgba(132, 71, 213, 0.3));
	// 	border-radius: 100%;

	// }
}
.slider-gallery>.slick-list{
	padding:0 0% 0% 0% !important;
}
.specialist-block{
	margin-top: 10rem;
	margin-bottom: 23.2rem;
	&__slider{
		position: relative;
	}
	&__title{
		text-align: center;
		padding-bottom: 11rem;
	}

}
.slider-gallery__arrow{
	position: absolute;
}

// .video-is-playing{
// 	background-image:url(../i/icons/icon-play.svg);
// 	width:20%;
// 	height:20%;
// 	position:absolute;
// 	left:0%;
// 	right:0%;
// 	top:0%;
// 	bottom:0%;
// 	margin:auto;
// 	background-size:contain;
// 	background-position: center;
// 	background-repeat:no-repeat;
// 	cursor: pointer;
// }
.your-class-arrow{
	position: relative;
	margin-top: -15%;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}
.arrow-gallery {
	position: relative;
}
.your-class-arrow{
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.prev{
	margin-left: 48px;
}
.next{
	margin-left: 52px;
}

.step-list-bg{
	margin-top: 20rem;
	position: relative;
	&__img{
		position: absolute;
		top: -48rem;
		z-index: -1;
	}
	&__img img{
		width: 100%;
	}

}
.step-list{
	&__row{
		padding-bottom: 22.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include bp($point_3){
			flex-direction: column;
		}
	}


	&__item{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item-style {
		margin-top: 20%;
	}
	&__line{
		margin-top: 10%;
		@include bp($point_3){
			display: none;
		}
	}
	&__num{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 3rem;
	}
	&__title{
		position: relative;
		text-align: center;
	}
	&__title::after{
		content: url(../i/list2.png);
		position: absolute;
		top: 100%;
		left: 50%;
	
	}
	&__text{
		width: 23.6rem;
		font-size: 1.8rem;
		color: #8A8A8A;
		font-weight: 400;
		font-family: $font_3;
		line-height: 21px;
	}
	&__text a{
		color: #8A8A8A;
		font-weight: 400;
		font-family: $font_3;
		text-decoration: none;
	}
	&__title-block{
		font-size: 2.5rem;
		color: #363636;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	&__img{
		position: absolute;
		right: 0;
	}
	&__img-col3{
		top: 55%;
	}

	&__icon{
		margin-bottom: 1.9rem;
	}

}

.num-step{
	font-size: 2rem;
	color:#B7B7B7;
	font-family: $font_3;
}
.text-step {
	font-size: 8rem;
	background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form{
	margin-bottom: 18.8rem;
	background: linear-gradient(85.31deg, rgba(255, 255, 255, 0.62) -13.08%, rgba(178, 142, 225, 0) -9.09%, rgba(186, 167, 212, 0.24) 131.76%, rgba(208, 194, 225, 0.165321) 144.04%);
	filter: drop-shadow(0px 27px 64px rgba(39, 0, 91, 0.07));
	border-radius: 50px;
	height: 42.3rem;
	z-index: 9;
	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__row::after {
		position: absolute;
		top: -10%;
		content: url(../i/list3.png);
	}
	&__title{
		text-align: center;
		margin-bottom: 1rem;
	}
	&__text {
		text-align: center;
		margin-bottom: 6rem;
		font-size: 2rem;
		font-family: $font_3;
	}
	&__col-right{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__input{
		margin-right: 1rem;
		background: #FFFFFF;
		box-shadow: 0px 27px 64px rgba(39, 0, 91, 0.07);
		border-radius: 50px;	
		border: none;
		height: 6.2rem;
		width: 25.2rem;
		padding-left: 20px;
		font-size: 1.8rem;
		font-family: $font_3;
		color:#8A8A8A ;
	}

	&__btn{
		position: relative;
		background: linear-gradient(91.32deg, #8546D7 0.59%, #B28EE1 101.83%);
		box-shadow: 5px 8px 13px rgba(173, 134, 224, 0.45), inset 1px -1px 10px rgba(52, 0, 118, 0.24);
		border-radius: 50px;
		color: #fff;
		height: 6.2rem;
		width: 25.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $font_3;
	}
	&__btn-img{
		top: -166%;
		left: 0;
		right: -50%;
		bottom: 0;
		position: absolute;
		z-index: -1;
	}
	&__btn-img img{
		width: 100%;
	}
	&__form {
		display: flex;
		margin-right: 14.3rem;
	}
	&__col-left{
		position: relative;
	}
	&__img{
		margin-top: 20%;
}
}
.footer {
	width: 100%;
	background-image: url(../i/footer-bg.png);
	background-size: cover;
	background-position: center;
	&__col{
		justify-content: space-between;
		width: 100%;
		display: flex;
		@include bp($point_3){
			flex-direction: column;
		}
	}
}
.left-col {
	display: flex;
	&__item{
		margin-bottom: 2.7rem;
		display: flex;
	}
	&__box-contact{
		margin-left: 6rem;
	}
	&__title{
		margin-bottom: 5rem;
	}
	&__phone{
		margin-left: 2rem;
	}
	&__social{
		margin-top: 4.5rem;
		margin-bottom: 8.4rem;
		display: flex;
		&-item {
			margin-right: 2rem;
	}
}
}
.arkada-block {
	font-family: $font_3;
	font-size: 1.8rem;
	color:$black;
	&__logo{
		display: flex;
	}
	&__img{
		margin-left: 1rem;
	}
}
.right-col{
	width:50%;
	height: 45rem;
	margin-left: 10rem;
	&__map{
		max-width: 100%;
    height: 100%;
	}
}