.titleBlock{
    font-size: 4rem;
    font-family: $font_1;
    color: $black;
    line-height: 5rem;
		@include bp ($point_3){
			font-size: 4.2rem
		}
}
span{
  background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a{
	text-decoration: none;
	color:$black;
	font-family: $font_3;
}
.button{
	background: linear-gradient(91.32deg, #8546D7 0.59%, #B28EE1 101.83%);
	background-size: 200% 100%;
	background-position: 100% 0;
	transition: background-position .5s;
}
.button:hover{
	background-position: 0 0;
	
}