.titleBlock{
    font-size: 4rem;
    font-family: $font_1;
    color: $black;
    line-height: 5rem;
		@include bp ($point_3){
			font-size: 4.2rem
		}
}
span{
  background: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}