extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	
	.main-banner
		.main-banner__img 
			//- img(src="i/bg.png", alt="") 
		.section_in
			.main-banner__textBlock
				.main-banner__title.titleBlock Польза для <span> души и тела </span>
				.main-banner__text Профессиональный массаж в городе Московский
				.main-banner__button.button
					.button-text Оставить заявку


	.section_in
		.signUp-massage
			.signUp-massage__row 
				.signUp-massage__col 
					.signUp-massage__img 
						img(src="i/armchair.png", alt="")
				.signUp-massage__col
					.signUp-massage__title.titleBlock Запишитесь <span> на массаж </span> уже сегодня!
					.signUp-massage__text 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					.signUp-massage-list 
	
	.section_in
		.services 
			.services__row 
				.services__title.titleBlock Заботимся о вашем <span> здоровье </span>

				ul.services__list 
					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services1.png", alt="")
						.services-card__item-box 
							.services-card__title Для красоты лица
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button(data-toggle="modal" data-target="#modal-1")
									.button__link Подробнее
					
					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services2.png", alt="") 
						.services-card__item-box 
							.services-card__title Для красоты тела
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button(data-toggle="modal" data-target="#modal-2") 	
									.button__link Подробнее

					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services3.png", alt="")
						.services-card__item-box  
							.services-card__title LPG-массаж
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button 	
									.button__link Подробнее

					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services4.png", alt="")
						.services-card__item-box  
							.services-card__title Релакс
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button 	
									.button__link Подробнее
				
				ul.services__list 
					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services5.png", alt="")
						.services-card__item-box 
							.services-card__title Массаж для беременных
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button(data-toggle="modal" data-target="#modal-1")
									.button__link Подробнее
					
					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services6.png", alt="") 
						.services-card__item-box 
							.services-card__title Детский массаж
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button(data-toggle="modal" data-target="#modal-2") 	
									.button__link Подробнее

					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services7.png", alt="")
						.services-card__item-box  
							.services-card__title Дети от 7 до 14 лет
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button 	
									.button__link Подробнее

					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services8.png", alt="")
						.services-card__item-box  
							.services-card__title Лечебный массаж
							.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							.services-card__footer 
								.services-card__price от 3000₽
								.services-card__button.button 	
									.button__link Подробнее

				.services__item.button-collaps.button 
					.button-collaps__text Показать больше
					


	.section_in
		.advantages 
			.advantages__row
				.advantages__title.titleBlock Какие плюсы у <span> массажа? <span>
				.advantages__container
					.advantages__block
						.advantages__wrapp.advantages__wrapp-el-1
							.advantages__item(data-trigger="advant1")
								.advantages__text Повышает иммунитет
							.advantages__button(data-trigger="advant1")
					
						.advantages__wrapp.advantages__wrapp-el-2
							.advantages__item(data-trigger="advant2")
								.advantages__text Повышает иммунитет2
							.advantages__button(data-trigger="advant2")
						.advantages__img
							img(src="/i/woman-message.png", alt="")

					.advantages__block
						.advantages__wrapp.advantages__wrapp-el-3
							.advantages__item(data-trigger="advant3")
								.advantages__text Повышает иммунитет3
							.advantages__button.advantages__button-right(data-trigger="advant3")
					
						.advantages__wrapp.advantages__wrapp-el-4
							.advantages__item(data-trigger="advant4")
								.advantages__text Снижает мышечное <br> напряжение
							.advantages__button.advantages__button-right(data-trigger="advant4")

	.section_in
		.gallery-video 
			.gallery-video__row 
				.gallery-video__title.titleBlock Атмофера нашей <span> студии </span>


				.gallery-list.slick-slider 	
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video1.mp4" type="video/mp4")
						.video-is-playing
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video2.mp4" type="video/mp4")
						.video-is-playing
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video3.mp4" type="video/mp4")
						.video-is-playing
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video4.mp4" type="video/mp4")
						.video-is-playing
				.gallery-list__arrow.arrow-gallery 
					.your-class-arrow

	.step-list-bg
		.step-list-bg__img 
			img(src="i/bg-wave2.png", alt="")
	.section_in
		.step-list
			.step-list__title.titleBlock Как записаться на <span> массаж? </span>

			.step-list__row
				.step-list__item 
					.step-list__num
						.num-step шаг
						.text-step 01
					.step-list__content
						.step-list__icon 
							img(src="../i/icons/step1.svg", alt="")
						.step-list__title-block Оставьте заявку
						.step-list__text Оставьте заявку на сайте или позвоните нам по номеру<br>
							a(href="#") +7 000 000 00 00
						.step-list__img 
							img(src="../i/towels.png", alt="")
					
				.step-list__line 
					img(src="../i/line1.png", alt="")

				.step-list__item.step-list__item-style 
					.step-list__num
						.num-step шаг
						.text-step 02
					.step-list__content
						.step-list__icon 
							img(src="../i/icons/step2.svg", alt="")
						.step-list__title-block Уточните детали
						.step-list__text Наш менеджер свяжется с вами,расскажет об услуге и поможет выбрать время
				
				.step-list__line 
					img(src="../i/line2.png", alt="")

				
				.step-list__item 
					.step-list__num
						.num-step шаг
						.text-step 03
					.step-list__content
						.step-list__icon 
							img(src="../i/icons/step3.svg", alt="")
						.step-list__title-block Приходите в клинику
						.step-list__text В назначенный день и в нужное время приходите в студию и наслаждайтесь!
					
						.step-list__img.step-list__img-col3 
							img(src="../i/massage table.png", alt="")

					
	.section_in
		.specialist-block
			.specialist-block__title.titleBlock Наши <span> специалисты </span>

			.specialist-block__slider 
				ul.slider-gallery__list.slider-gallery 
					li.slider-gallery__item 
						.slider-gallery__img 
							img(src="i/spec1.png", alt="")
						.slider-gallery__name Мария
						.slider-gallery__description квалифицированный массажист<br>стаж работы 5 лет

					li.slider-gallery__item 
						.slider-gallery__img 
							img(src="i/spec1.png", alt="")
						.slider-gallery__name Мария
						.slider-gallery__description квалифицированный массажист<br>стаж работы 5 лет
					
					li.slider-gallery__item 
						.slider-gallery__img 
							img(src="i/spec1.png", alt="")
						.slider-gallery__name Мария
						.slider-gallery__description квалифицированный массажист<br>стаж работы 5 лет

					li.slider-gallery__item 
						.slider-gallery__img 
							img(src="i/spec1.png", alt="")
						.slider-gallery__name Мария
						.slider-gallery__description квалифицированный массажист<br>стаж работы 5 лет

					li.slider-gallery__item 
						.slider-gallery__img 
							img(src="i/spec1.png", alt="")
						.slider-gallery__name Мария
						.slider-gallery__description квалифицированный массажист<br>стаж работы 5 лет
				
				.slider-gallery__arrow
	
	
	






