extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	
	.main-banner 

	.section_in
		.signUp-massage
			.signUp-massage__row 
				.signUp-massage__col 
					.signUp-massage__img 
						img(src="i/armchair.png", alt="")
				.signUp-massage__col
					.signUp-massage__title.titleBlock Запишитесь <span> на массаж </span> уже сегодня!
					.signUp-massage__text 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					.signUp-massage-list 
	
	.section_in
		.services 
			.services__row 
				.services__title.titleBlock Заботимся о вашем <span> здоровье </span>

				ul.servces__list 
					li.services__item.services-card 
						.services-card__img 
							img(src="../i/services1.png", alt="") 
						.services-card__title Для красоты лица
						.services-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						.services-card__footer 
							.services-card__price от 3000₽
							.services-card__button 	
								a(href="#") Подробнее


	.section_in
		.advantages 
			.advantages__row
				.advantages__title.titleBlock Какие плюсы у <span> массажа? <span>

				.advantages__block
					.advantages__wrapp
						.advantages__item 
							.advantages__text Повышает иммунитет
						.advantages__button

	.section_in
		.gallery-video 
			.gallery-video__row 
				.gallery-video__title.titleBlock Атмофера нашей <span> студии </span>


				.gallery-list.slick-slider 	
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video1.mp4" type="video/mp4")
						.video-is-playing
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video2.mp4" type="video/mp4")
						.video-is-playing
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video3.mp4" type="video/mp4")
						.video-is-playing
					.gallery-list__item 
						video.video(controls)
							source(src="i/video/video4.mp4" type="video/mp4")
						.video-is-playing
				.gallery-list__arrow.arrow-gallery 
					.your-class-arrow

	.section_in
		.step-list
			.step-list__title.titleBlock Как записаться на <span> массаж? </span>

			.step-list__item 
				.step-list__num
					.num-step шаг
					.text-step 01
				.step-list__icon 
					img(src="../i/icons/step1.svg", alt="")
				.step-list__title Оставьте заявку
				.step-list__text Оставьте заявку на сайте или позвоните нам по номеру 
					a(href="#") +7 000 000 00 00
				.step-list__img 
					img(src="../i/towels.png", alt="")
			
			.step-list__line 
				img(src="../i/line1.png", alt="")

				








