// Global 
$header: 8rem;
$footer: 20rem;

// Mobile
$header_mob: 10rem;
$footer_mob: 10rem;


//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Geometria-Bold', sans-serif;
$font_2: 'Geometria-Regular', sans-serif;
$font_3: 'SFProDisplay-Regular', sans-serif;
$font_size_base: 1.8rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #363636;
$gray:  #c2c2c2;
$gold: #ffe100;
$gradient:  linear-gradient(91.32deg, #8546D7 0.59%, #B28EE1 101.83%);
$gradient-icon: linear-gradient(297.31deg, #8546D7 -2.19%, #B28EE1 104.59%);



// $color_text_base: $white;
$color_link_base: $gold;
$body_bg: $black;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 150.2rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius:.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points

$point: 1900px;
$point_0: 1680px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 2rem;
$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $black;
$input_placeholder_color: rgba($black, .4);
$input_text_color: $black;
$input_radius: $gl_radius;
//---------------------------------------------forms###